.footer {
  background-color: #000;
  color: #fff;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.myNumber {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.05rem;
  line-height: 36px;
  text-decoration: none;
  color: #004d8b;
}
.myNumber:hover {
  color: #ccc;
}
.divWhats {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
